RewriteEngine on

# Current form
RewriteRule ^survey$ form [NC]
RewriteRule ^form$ usersurvey [NC]

# - Socials -

# Youtube Omega
RewriteRule ^omega$ channel [NC]
RewriteRule ^main$ channel [NC]
RewriteRule ^channel$ https://www.youtube.com/c/AnnoyingBokoblin?sub_confirmation=1 [NC]
RewriteRule ^member$ https://www.youtube.com/c/AnnoyingBokoblin/join [NC]

# Youtube Alpha
RewriteRule ^second$ channel2 [NC]
RewriteRule ^boko2$ channel2 [NC]
RewriteRule ^alpha$ channel2 [NC]
RewriteRule ^youtube2$ channel2 [NC]
RewriteRule ^two$ channel2 [NC]
RewriteRule ^channel2$ https://www.youtube.com/channel/UCpiQ1WZ4fE-9akAh0leRy1w [NC]

# Youtube Beta
RewriteRule ^workinprogress$ [NC]
RewriteRule ^wip$ beta [NC]
RewriteRule ^beta$ https://www.youtube.com/channel/UCE_py8sGbWZjph2fqA2qGRQ [NC]

# Youtube Theta
RewriteRule ^theta$ vods [NC]
RewriteRule ^highlights$ vods [NC]
RewriteRule ^clip$ vods [NC]
RewriteRule ^clips$ vods [NC]
RewriteRule ^vod$ vods [NC]
RewriteRule ^vods$ https://www.youtube.com/channel/UCI68iV64a9S49dPIvj5Q8IQ [NC]

# Twitch
RewriteRule ^livestream$ live [NC]
RewriteRule ^stream$ live [NC]
RewriteRule ^live$ twitch [NC]
RewriteRule ^twitch$ https://www.twitch.tv/annoyingboko/ [NC]

# Discord
RewriteRule ^server$ discord [NC]
RewriteRule ^discord2$ discord [NC]
RewriteRule ^discordserver$ discord [NC]
RewriteRule ^join$ discord [NC]
RewriteRule ^invite$ discord [NC]
RewriteRule ^discord$ https://discord.gg/tR4J9jS [NC]


# - Give me money -

# Patreon
RewriteRule ^support$ patreon [NC]
RewriteRule ^patron$ patreon [NC]
RewriteRule ^patreon2$ patreon [NC]
RewriteRule ^patreon$ https://www.patreon.com/AnnoyingBokoblin [NC]

# Tips
RewriteRule ^donate$ tips [NC]
RewriteRule ^tip$ tips [NC]
RewriteRule ^tips*$ https://streamelements.com/annoyingboko/tip [NC]

# Merch
RewriteRule ^apparel$ merch [NC]
RewriteRule ^shop$ merch [NC]
RewriteRule ^store$ merch [NC]
RewriteRule ^merchandise$ merch [NC]
RewriteRule ^merch$ https://teespring.com/stores/annoying-bokoblin [NC]
RewriteRule ^forehead$ https://teespring.com/forehead-moment?pid=389 [NC]


# - Discord Server -

# Staff
RewriteRule ^administration$ staff [NC]
RewriteRule ^admins$ staff [NC]
RewriteRule ^mods$ staff [NC]
RewriteRule ^admin$ staff [NC]
RewriteRule ^mod$ staff [NC]
RewriteRule ^moderator$ staff [NC]
RewriteRule ^staff$ staff.html [NC]

# Mod Form
RewriteRule ^apply$ application [NC]
RewriteRule ^application$ https://docs.google.com/forms/d/e/1FAIpQLSdb57PHqpbKZX-OPcfGvCQI-NvM31ZnsRzNkjSnQK9nJWfkbQ/viewform?usp=sf_link [NC]

# Trigger Warnings
RewriteRule ^tw$ trigger [NC]
RewriteRule ^tr$ trigger [NC]
RewriteRule ^triggers$ [NC]
RewriteRule ^trigger$ https://boko.camp/_trigger.html [NC]

# Other
RewriteRule ^feedback$ https://docs.google.com/forms/d/e/1FAIpQLSe2-5nz__DBamz7a5VMpt6ygIQrQJCYm9Ek4nxgRKbKJOT88w/viewform?usp=sf_link [NC]
RewriteRule ^usersurvey$ https://docs.google.com/forms/d/e/1FAIpQLSd-7BEUDrG2P7XbLZlH5VPJZ8JCiumOHjBXHxaBPxbhbE2RPQ/viewform?usp=sf_link [NC]


# - Random -

# Surveys
RewriteRule ^moyaisurvey$ moyai [NC]
RewriteRule ^moyai$ https://docs.google.com/forms/d/e/1FAIpQLSdgvP6qqG4f7a3B5acCq5xjAnCPLC1IPwsZDUzdWr7fMqv-EA/viewform?usp=sf_link [NC]

# Youtube playlists
RewriteRule ^livingwith$ https://www.youtube.com/playlist?list=PL1s7-uDbk9j1RZ4X1NE8g8xPL_ncckZEB [NC]

# Bots
RewriteRule ^bot$ watcher [NC]
RewriteRule ^watcher$ https://discord.com/api/oauth2/authorize?client_id=699007683587473446&permissions=8&scope=bot%20applications.commands [NC]
RewriteRule ^changelog$ https://old.boko.camp/changelog.html [NC]

# Switch Friend Codes
RewriteRule ^friend$ friendcodes [NC]
RewriteRule ^friends$ friendcodes [NC]
RewriteRule ^friendcode$ friendcodes [NC]
RewriteRule ^friendcodes$ https://old.boko.camp/friendcodes.html [NC]

# Minecraft
RewriteRule ^map$ http://deranged.family:40017/ [NC]


# - Error Documents -
ErrorDocument 404 /404.html


# - Rewrite non htmls -
RewriteRule ^([^\.]+)$ $1.html [NC,L]
