{%- assign _page_url = include.url -%}

<header>
<nav class="navbar navbar-expand-lg">

  {%- assign _paths_root = site.paths.root | default: site.data.variables.default.paths.root  -%}
  {%- include snippets/get-nav-url.html path=_paths_root -%}
  <a class="navbar-brand" title="{%- if site.description -%}{{ site.description }}{%- endif -%}" href="{{ __return }}">
    <div class="header__icon">{%- include svg/icon/logo-icon.svg -%}</div>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">

    <ul class="navbar-nav ml-auto">
      {%- for _item in site.data.navigation.header -%}

        {%- include snippets/get-nav-url.html path=_item.url -%}
        {%- assign _nav_url = __return -%}
        {%- include snippets/get-string-from-locale-config.html locale=_item.titles -%}

        {%- if _item.children -%}

          <li class="nav-item dropdown">

            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {%- if _item.title -%}{{ _item.title }}{%- else -%}{{ __return }}{%- endif -%}
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {%- for _child in _item.children -%}

                {%- if _child.divider -%}
                  <div class="dropdown-divider"></div>
                {%- elsif _child.title != blank -%}
                  {%- include snippets/get-nav-url.html path=_child.url -%}
                  {%- assign _nav_url = __return -%}
                  {%- include snippets/get-string-from-locale-config.html locale=_child.titles -%}

                  {%- if _nav_url == _page_url or page.nav_key and _item.key and page.nav_key == _item.key -%}
                  <a class="dropdown-item active" href="{{ _nav_url }}">
                  {%- else -%}
                  <a class="dropdown-item" href="{{ _nav_url }}">
                  {%- endif -%}
                    {%- if _child.title -%}{{ _child.title }}{%- else -%}{{ __return }}{%- endif -%}
                  </a>
                {%- endif -%}

              {%- endfor -%}
            </div>

          </li>

        {%- else -%}

          <li class="nav-item">
            {%- if _nav_url == _page_url or page.nav_key and _item.key and page.nav_key == _item.key -%}
            <a class="nav-link active" href="{{ _nav_url }}">
            {%- else -%}
            <a class="nav-link" href="{{ _nav_url }}">
            {%- endif -%}
              {%- if _item.title -%}{{ _item.title }}{%- else -%}{{ __return }}{%- endif -%}
            </a>
          </li>

        {%- endif -%}

      {%- endfor -%}
    </ul>

    <div style="padding-left: 15px;"></div>

    {%- if site.search.provider -%}
      <button type="button" class="class=btn btn-primary btn-sm js-search-toggle" style="margin-top: 7px;">
        <i class="fas fa-search"></i>
      </button>
    {%- endif -%}

  </div>
</nav>
</header>
