---
layout: page
---

{%- assign _grid_on = page.grid_on | default: false -%}
{%- if _grid_on -%}
  {%- assign _type = 'grid' -%}
{%- else -%}
  {%- assign _type = 'brief' -%}
{%- endif -%}

{%- assign _desc = page.description -%}

{%- if page.post_category -%}
  {%- assign _posts = site.posts | where: "categories", page.post_category -%}
{%- else -%}
  {%- assign _posts = site.posts -%}
{%- endif -%}

<div class="layout--archive js-all">
  {%- if _desc -%}
    <div>{{ _desc }}</div><br>
  {%- endif -%}
  {%- include tags.html tags=_posts.tags -%}
  <div class="js-result layout--archive__result d-none">
    {%- include article-list.html articles=_posts type=_type show_info=true reverse=true group_by='year' -%}
  </div>
</div>

<script>
  {%- include scripts/archieve.js -%}
</script>

{{ content }}
