---
layout: non-article
header: false
footer: false
show_title: false
---

{%- assign _linkset = site.data.links[page.dat][0] -%}

<style>
  .content {
    text-align: center;
    background: #0004;
    border-radius: 0.5rem;
    padding: 1rem;
    max-width: 20rem;
    margin: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }
  .content h1 {
    border: none;
    padding: none;
  }
  .card {
    margin: 0.5rem;
    padding: 1rem;
    background: #0004;
    box-shadow: none;
  }
  .card__title {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
  }
</style>

<div class="content">
  <div class="card">
    <div class="card__image">
      <img class="image" src="{{ _linkset.image }}"/>
      <div class="overlay overlay--bottom">
        <h1>{{ _linkset.name }}</h1>
      </div>
    </div>
  </div>

  {%- for _item in _linkset.items -%}
    <div class="card" style="text-align: right;">

      <a href="{{ _item.url }}">
      <div class="grid">
        <div class="cell cell--3">
          <img class="image" src="{{ _item.image }}"/>
        </div>
        <div class="cell cell--auto"></div>
        <div class="cell cell--shrink card__title">
          <h4 style="margin: 2px;">{{ _item.name }}</h4>
          <div class="button button--rounded" style="margin: 2px; background: #{{ _linkset.colour }};">
            {{ _item.call | capitalize }}
          </div>
        </div>
      </div>
      </a>

    </div>
  {%- endfor -%}
</div>
