---
layout: article
show_title: false
header: false
footer: false
---

{%- if page.author -%}
  {%- assign _author = site.data.authors[page.author] -%}
{%- else -%}
  {%- assign _author = site.author -%}
{%- endif -%}

<style>
  .article-back {
      background: none;

      backdrop-filter: none;
     -webkit-backdrop-filter: none;

      padding: 0;
      border-radius: 0;
  }
  .content--list-center {
    text-align: center;
    padding-bottom: 0.5cm;
    display: inline-block;
  }
  ul {
    display: table;
    text-align: left;
  }
}
</style>

<div class="hero hero--center hero--dark hero--fill-height">
  <div class="hero__content">
    <img class="author-profile__avatar_big" src="{{ _author.avatar }}" />
    <h3>{{ _author.name }}</h3>

    <div>
      <small>{{ _author.bio }}</small>
    </div>

    {%- if content != blank -%}
      <div class="content--list-center">
        {{ content }}
      </div>
    {%- endif -%}

    <div class="author-profile__links">
      {%- include author-links.html author=_author -%}
    </div>
    <br/>
    <a class="button button--secondary button--pill" onclick="history.back()">Go Back</a>
  </div>
</div>
